header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  padding: 24px 64px;
  color: white;

  @media (max-width: 1536px) {
    padding: 24px 64px;
  }

  @media (max-width: 1200px) {
    padding: 24px 64px;
  }

  @media (max-width: 900px) {
    padding: 24px 32px;
  }

  @media (max-width: 600px) {
    padding: 24px 16px;
  }

  .logo {
    cursor: pointer;
  }

  .actions {
    display: flex;
    align-items: center;

    .profile {
      padding: 8px;
      &:hover {
        cursor: pointer;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .wishlist-button {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px;

      &:hover {
        cursor: pointer;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
